<div><img src="https://www.raspberrypi.org/wp-content/uploads/2011/10/Raspi-PGB001.png" width="200" style="text-align:center"></div>
<h1 style="font-size:20px">Hej, Raspberry Pi is over the moon ^_^</h1>
<div class="box">
<button class="bbtn" type="button" onclick="location.href='/system/reboot'">{{ .Title }} Reboot System</button>
<button class="bbtn" type="button" onclick="location.href='/system/shutdown'">Shutdown System</button>
</div>
<div class="box">
<button class="sbtn" type="button" onclick="location.href='/vpn?c=vpn_london&a=on'">vpn_london on</button>
<button class="sbtn" type="button" onclick="location.href='/vpn?c=vpn_london&a=off'">vpn_london off</button>
</div>
<div class="box">
<button class="sbtn" type="button" onclick="location.href='/ifconfig'">ifconfig</button>
</div>
