<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>My Raspberry Pi Remote Controller</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<style>
.bbtn {maring:100px 20px;width:150px;height:150px;font-size:24px;border-radius:8px;}
.sbtn {width:150px;height:40px;font-size:16px;border-radius:8px;}
.box {margin:0 0 20px 0}
body {background: #fff}
</style>
<script src="/main.js"></script>
</head>
<body>
{{ yield }}
</body>
</html>
